.col {
    padding: 0 15px;
    flex-grow: 1;
    max-width: 300px;
    margin-bottom: 40px;
}
.card {
   box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.22);
   background: @color_text_white;
   display: grid;
   height: 100%;
   &__title {
    padding: 20px 16px 30px 16px;
    
   }
}